<a href="https://colab.research.google.com/github/1Kristin/Linear_Algebra_Coding_project/blob/main/activity_6_1_code_conversion_and_dplyr_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Activity 6.1 - Code conversion and `dplyr` practice

In [12]:
library('dplyr')

In [13]:
surveys <- read.csv('https://github.com/WSU-DataScience/DSCI_210_R_notebooks/raw/main/data/portal_data_joined.csv')
head(surveys)

  record_id month day year plot_id species_id sex hindfoot_length weight
1   1        7    16  1977 2       NL         M   32              NA
2  72        8    19  1977 2       NL         M   31              NA
3 224        9    13  1977 2       NL             NA              NA
4 266       10    16  1977 2       NL             NA              NA
5 349       11    12  1977 2       NL             NA              NA
6 363       11    12  1977 2       NL             NA              NA
  genus   species  taxa   plot_type
1 Neotoma albigula Rodent Control
2 Neotoma albigula Rodent Control
3 Neotoma albigula Rodent Control
4 Neotoma albigula Rodent Control
5 Neotoma albigula Rodent Control
6 Neotoma albigula Rodent Control

## Problem 1


Consider the following code that uses piping:

In [ ]:
surveys %>%
  filter(weight < 5) %>%
  select(species_id, sex, weight)

### A. Write an imperative version of this code.

In [ ]:
surverys1 = filter(surveys, weight < 5)
surverys2 = select(surverys1, species_id, sex, weight)
surverys2

### B. Write a functional version of this code.

In [17]:
head(select(filter(surveys, weight <5),species_id, sex, weight))

  species_id sex weight
1 PF         F   4
2 PF         F   4
3 PF         M   4
4 RM         F   4
5 RM         M   4
6 PF             4

Now consider the following imperative code:

In [22]:
x <- rnorm(100)
x_rounded <- round(x, 1)
x_rounded_sorted <- sort(x_rounded)
x_rounded_sorted_smallest10 <- head(x_rounded_sorted, 10)
sum_x_rounded_sorted_smallest10 <- sum(x_rounded_sorted_smallest10)

### C. Write a functional version of this code.

In [26]:
sum(head(sort(round(rnorm(100), 1)), 10))

[1] -22

### D. Write a version of this code that uses piping.

In [27]:
rnorm (100) %>%
round(1) %>%
sort %>%
head(10)%>%
sum

[1] -21.9

## Problem 2
  Create a new data frame from the `surveys` data that meets the following criteria: 
  
- The data frame contains only the **`species_id`** column and a new column named  **`hindfoot_half`**.
- The new column **`'hindfoot_half`** should be created so that its values are half the **`hindfoot_length`** values.
- Finally, all rows in this data frame should have values of `hindfoot_half` that are less than 30.

Hint: think about how the commands should be ordered to produce this data frame!

In [32]:
surveys %>%
mutate(hindfoot_half = hindfoot_length * 0.5) %>%
filter(hindfoot_length < 30) %>%
select(species_id, hindfoot_half)

      species_id hindfoot_half
1     NL         14.0
2     NL         10.5
3     NL         10.5
4     NL         14.5
5     NL         14.5
6     DM         12.5
7     PF          7.5
8     PF          8.0
9     PF          7.5
10    PF          7.0
11    PF          7.0
12    PF          8.0
13    PF          7.5
14    PF          8.0
15    PF          7.0
16    PF          7.5
17    PF          8.5
18    PF          7.5
19    PF          8.0
20    PF          8.5
21    PE         10.0
22    PE          9.5
23    PE         13.0
24    PE         11.0
25    PE         10.0
26    PE         10.0
27    PE         10.0
28    PE         10.0
29    PE         10.5
30    PE         10.5
⋮     ⋮          ⋮
15342 PM         10.0
15343 PM         10.5
15344 RF          8.5
15345 RF          9.0
15346 PB         13.0
15347 PB         13.5
15348 PB         13.0
15349 PB         13.5
15350 PB         14.0
15351 PB         13.5
15352 PB         13.0
15353 PB         13.0
15354 PB         13.0
15355 PB         13.5
15356 PB         12.5
15357 PB         13.0
15358 PB         13.0
15359 PB         13.0
15360 PB         13.5
15361 PB         11.0
15362 PB         14.0
15363 PB         14.0
15364 PB         14.5
15365 PB         12.5
15366 PB         13.0
15367 PL         10.0
15368 PL         10.5
15369 PL         10.0
15370 PL         10.5
15371 PL         10.0