<a href="https://colab.research.google.com/github/1Kristin/Linear_Algebra_Coding_project/blob/main/Data_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [83]:
library('dplyr')
artists <- read.csv('https://github.com/MuseumofModernArt/collection/raw/master/Artists.csv')
artworks <- read.csv('https://github.com/MuseumofModernArt/collection/raw/master/Artworks.csv')

In [ ]:
(artists
%>% mutate(BirthDate = ifelse(BeginDate == 0, "NA", BeginDate))
)

In [ ]:
(artists
 %>% mutate(BirthDate = floor(BeginDate/10)*10)
 %>% mutate(BirthDate = ifelse(BirthDate == 0, "NA", BirthDate))
 %>% group_by(BirthDate)
 %>% summarise(cnt =n())
 )

In [108]:
(artworks
%>% mutate(depth = Depth..cm.) 
%>% mutate(height = Height..cm.)
%>% mutate(width = Width..cm.)
%>% group_by(depth, height, width)
%>% summarise(cnt = n(), avg.depth = mean(depth), avg.)
)

`summarise()` has grouped output by 'depth', 'height'. You can override using
the `.groups` argument.

      depth height   width       cnt   avg.depth
1     0     0.000000    0.000000 1764  0
2     0     0.000000   20.955042    2  0
3     0     0.000000   22.860046    1  0
4     0     0.000000   23.495047    1  0
5     0     0.000000   24.130048   11  0
6     0     0.000000   25.400051    2  0
7     0     0.000000   26.035052    1  0
8     0     0.000000   26.670053    4  0
9     0     0.000000   27.940056    1  0
10    0     0.000000   35.560071    1  0
11    0     0.000000  122.000000    1  0
12    0     0.000000 1025.000000    1  0
13    0     0.000000 1200.000000    1  0
14    0     1.900000    6.400000    1  0
15    0     2.500000    0.000000    1  0
16    0     2.540005    3.810008    1  0
17    0     2.600000    4.000000    1  0
18    0     2.600000    7.200000    1  0
19    0     3.016256  320.040640    1  0
20    0     3.200000    2.500000    1  0
21    0     4.300000    7.000000    1  0
22    0     4.300000   14.700000    1  0
23    0     4.500000    7.700000    1  0
24    0     4.500000   10.300000    1  0
25    0     4.762510    7.620015    1  0
26    0     4.921260    4.921260    1  0
27    0     5.000000    4.100000    1  0
28    0     5.000000    6.400000    1  0
29    0     5.000000   10.000000    1  0
30    0     5.000000   10.100000    7  0
⋮     ⋮     ⋮        ⋮           ⋮     ⋮
63350 NA    NA       121.9000        1 NA
63351 NA    NA       121.9202        5 NA
63352 NA    NA       121.9202        3 NA
63353 NA    NA       123.2000        1 NA
63354 NA    NA       127.0000        2 NA
63355 NA    NA       128.2000        1 NA
63356 NA    NA       128.2703        1 NA
63357 NA    NA       132.1000        1 NA
63358 NA    NA       133.3000        1 NA
63359 NA    NA       134.6000        1 NA
63360 NA    NA       135.8903        1 NA
63361 NA    NA       136.5253        1 NA
63362 NA    NA       137.1603        7 NA
63363 NA    NA       139.7000        1 NA
63364 NA    NA       139.7003        1 NA
63365 NA    NA       142.2403        1 NA
63366 NA    NA       143.5103        1 NA
63367 NA    NA       146.0503        2 NA
63368 NA    NA       161.2903        1 NA
63369 NA    NA       162.5000        1 NA
63370 NA    NA       193.0000        2 NA
63371 NA    NA       199.3904        1 NA
63372 NA    NA       233.7000        1 NA
63373 NA    NA       243.8405        1 NA
63374 NA    NA       289.5606        1 NA
63375 NA    NA       290.1956        1 NA
63376 NA    NA       295.9106        1 NA
63377 NA    NA       307.3406        1 NA
63378 NA    NA       800.1016        2 NA
63379 NA    NA             NA    17261 NA